@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-titulo: rgb(52, 52, 52);
    --azul-escuro: #02141f;
    --azul-medio: #024D75;
    --azul-claro: #067eba;
    --preto-azulado: #01020c;
    --azul-papel: #c0d4e1;

    --gradiente: var(--azul-claro),
        var(--azul-medio) 70%,
        var(--azul-escuro) 95%;
    --gradiente-header: var(--azul-claro),
        var(--azul-medio),
        var(--azul-escuro);


    --titulos-text-shadow: 2px 2px 1px rgba(12, 12, 12, 0.272);
    --p-text-shadow: 1px 1px rgba(120, 120, 120, 0.397);

    --fonte-titulos: "IBM Plex Sans", sans-serif;
    --fonte-padrao: "Noto Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

body {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.3rem;
    width: 100vw;

}

@keyframes pulsing-text {
    0% {
        color: var(--azul-papel);
        text-shadow: 0px 0px 2px black;
        transform: scaleX(1)
    }

    50% {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 2px white;
        transform: scaleX(1.02)
    }

    100% {
        color: var(--azul-papel);
        text-shadow: 0px 0px 2px black;
        transform: scaleX(1)
    }
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: radial-gradient(circle at 50%, var(--gradiente-header));

    padding: 8px 0;


    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;

    background: url("assets/luz-background-desktop.jpg");
    background-size: cover;

    opacity: 0.3;
    mix-blend-mode: overlay;

    z-index: -1;
    /* fica atrás das sessões */
    pointer-events: none;
}

#master-contabilidade-logo {
    width: 85px;
    height: auto;
    border-radius: 50%;
    z-index: 1;
}

.side-logos {
    width: 60px;
    height: auto;

}

main {

    background-image: linear-gradient(var(--gradiente));
    background-attachment: fixed;

    width: 100vw;
    padding-top: 50px;


    position: relative;
    z-index: 0;
}

main::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;

    background: url("assets/luz-background.jpg");
    background-size: cover;

    opacity: 0.7;
    mix-blend-mode: overlay;

    /* fica atrás das sessões */
    z-index: -1;

    pointer-events: none;
}

.sessao {
    /* display: none; */
    width: 95%;
    margin: 0 auto 100px;

    height: 70vh;

    background-color: var(--azul-papel);
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.209);

    scroll-snap-align: center;
    scroll-margin-top: 100px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    z-index: 1;
}


#sessao1::before {
    content: "";
    position: absolute;

    inset: 0;

    background-image: url(assets/escritorio-contabil.jpg);
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.3;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    font-family: var(--fonte-titulos);
    text-shadow: var(--titulos-text-shadow);
    font-weight: 700;
    line-height: 2.4rem;
    min-width: 90%;
    max-width: 500px;
    padding: 20px 0;
    z-index: 1;
}

.sessao p {
    width: 90%;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    text-shadow: var(--p-text-shadow);
    z-index: 1;
}

.botao-fale-conosco {
    height: 60px;
    width: 180px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--azul-medio);


    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    margin: 20px auto;

    animation: pulse-button 5s infinite;

    z-index: 1;
}

.botao-fale-conosco p {
    animation: pulsing-text 3s infinite;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;

}

.botao-fale-conosco:visited {
    color: inherit;
    text-decoration: none;
}

#sessao2 {
    padding-bottom: 50px;
}

#sessao2::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url(assets/economizando.jpg);
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.3;
    border-radius: 10px;
    filter: blur(1px);
}

h2 {
    max-width: 85%;
    font-size: 3rem;
    font-family: var(--fonte-titulos);
    text-shadow: var(--titulos-text-shadow);
    z-index: 1;


}

#sessao3 h2,
#sessao4 h2 {
    font-size: 2.3rem;
}

ul {
    list-style-position: inside;
    max-width: 95%;
    text-align: left;
    padding: 0 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: start;
    font-size: 1.2rem;
    text-shadow: var(--p-text-shadow);

}


#lista-advogados li {
    background-color: rgba(255, 255, 255, 0.173);
    border-radius: 8px;
    z-index: 1;
    padding: 2px;
}

#sessao4::before {
    content: "";
    position: absolute;

    inset: 0;

    background-image: url(assets/advocacia-vertical.jpg);
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.5;
    border-radius: 10px;
    filter: blur(1px);
    z-index: 0;
}

#sessao4::after {
    content: "";
    position: absolute;

    inset: 0;

    background-color: rgba(0, 0, 0, 0.618);
    background-size: cover;
    opacity: 0.4;
    z-index: 0;

    border-radius: 10px;
}

/*UL com os cards de serviços*/
#servicos-prestados {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    gap: 20px;
    max-width: 90%;
    padding-bottom: 30px;
}

#servicos-prestados li {
    background-color: var(--azul-papel);
    flex: 1 1 200px;
    padding: 20px 0;
    max-width: 90vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
}

#servicos-prestados h3 {
    font-size: 1.5rem;
    max-width: 90%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(12, 12, 12, 0.272);
}

#servicos-prestados p {
    font-size: 1rem;
    margin: auto;
    max-width: 90%;
    text-shadow: var(--p-text-shadow);
}

.reveal-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-left.show {
    opacity: 1;
    transform: translateX(0);
}


@media(min-width: 768px) {
    .side-logos {
        width: 80px;
        height: auto;
        transition: all 0.3s ease-out;
    }


    main::before {
        background-image: url(assets/luz-background-desktop.jpg);
    }

    .sessao {
        width: 90%;
        border-radius: 10px;

    }


    #sessao2 {
        padding-bottom: 100px;
    }

    #sessao2::before {
        background-image: url(assets/economizando-horizontal.jpg);
    }

    #dinheiros {
        height: 100%;
        top: 0;
    }

    #sessao3 ul {
        font-size: 1.3rem;
    }
}

@media(min-width: 1024px) {

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.6rem;
    }

    .side-logos:hover {
        transform: scale(1.1);
    }

    .botao-fale-conosco {
        transition: all 0.3s ease;
    }

    .botao-fale-conosco:hover {
        background-color: var(--azul-claro);
    }


    .botao-fale-conosco:hover p {
        animation: none;
        color: var(--azul-escuro);
        text-shadow: 1px 2px var(--azul-papel);
    }

    #sessao3 h2 {
        font-size: 3rem;
    }

    ul {
        font-size: 1.6rem;
    }
}