@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Squada+One&display=swap');

:root {
    --cor-titulo: rgb(255, 255, 255);
    --azul-escuro: #02141f;
    --azul-medio: #023A5E;
    --azul-claro: #0f38be;
    --gradiente: var(--azul-claro), var(--azul-medio) 70%, var(--azul-escuro) 95%;
    --preto-azulado: #01020c;
    --azul-papel: #c0d4e1;

    --fonte-master: "Spectral SC", serif;
    --fonte-titulos: "Monda", sans-serif;
    --fonte-padrao: "Squada One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: sans-serif;

}


header {
    background-color: var(--preto-azulado);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;


}

#master-contabilidade-logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

h1 {
    font-size: 1.2rem;
    font-family: var(--fonte-master);
    color: var(--cor-titulo);
    text-shadow: 2px 4px var(--azul-claro);
}

@keyframes pulse-button {
    0%{
        transform: translate(0px, 0%) scale(1)

    }
    44%{
        transform: translate(0px, 0px) scale(1)

    }

    47% {
        transform: translate(0px, 2px) scale(0.98);
        
    }
    50%{
        transform: translate(0px, -4px) scale(1.02);
    
    }

    55% {
        transform: translate(0px, 0%) scale(1);
    }
    
    100%{
       transform: translate(0px, 0%) scale(1);
    }
}

.botao-whatsapp {
    height: 60px;
    width: 140px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: #25D366;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;

    animation: pulse-button 5s infinite;
}

.botao-whatsapp:visited {
    color: rgb(0, 0, 0);
}


main {
    background-image: linear-gradient(var(--gradiente));
    background-attachment: fixed;

    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    position: relative;
    z-index: 0;
}

main::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;

    background: url("assets/luz-background.jpg");
    background-size: cover;

    opacity: 0.7;
    mix-blend-mode: overlay;

    z-index: -1;
    /* fica atrás das sessões */
    pointer-events: none;
}

.sessao {
    /* display: none; */
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto 100px;

    height: 70vh;

    background-color: var(--azul-papel);
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.209);
    
    scroll-snap-align: center;
    scroll-snap-stop: always;
}





h2 {
    margin: 20px;
    font-size: 3rem;
    font-family: var(--fonte-titulos);
}

.sessao p {
    margin: auto;
    width: 90%;
}

#sessao1{
    background-color: #acadb39d;
    
}

#sessao1 img {
    width: 100%;
    display: block;
    margin: auto;
    mix-blend-mode: multiply;
    filter: blur(1px);
}

#sessao1 h2 {
    margin: 15px 0;
    font-size: 1.8rem;
    color: white;
    position: relative;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.816);
   
    bottom: 570px;
}

#sessao1 ul {
    font-size: 1.4rem;
    color: rgb(242, 242, 242);
    position: relative;
    bottom: 560px;
    
}

#sessao1 li {
    margin: 28px auto;
    text-align: left;
    font-family: var(--fonte-padrao);
    width: 85%;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.816);
}


ul {
    list-style-position: inside;
    text-align: left;
}

.reveal-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal-left.show {
    opacity: 1;
    transform: translateX(0);
}

@media(min-width: 420px) {
    #sessao1 img{
        display: none;
    }
}

@media(min-width: 640px) {
    main::before{
        background-image: url(assets/luz-background-desktop.jpg);
    }
    
    .sessao{
        background-color: var(--azul-papel);
        
    }
}